<div class="row">
  <p class="text-center text-muted">&copy; Copyright 2020 The Awesome People</p>
</div>
<!-- Go to previous page script -->
<script>
  function goBack() {
    window.history.back();
  }
</script>
