<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-menu">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img
        src="/images/logo-blanco.png"
        alt="Logo Mercado DOS MIL"
        width="200"
        height="150"
        class="img-fluid"
      />
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/products">Nuevos productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">Buscar precio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Salir</a>
      </li>
    </ul>
  </div>
</nav>
