<style>
  /*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
.back-btn {
    color: #000000;
}
.back-btn:hover, .back-btn:focus, .back-btn:active, .back-btn.active, .open>.dropdown-toggle.back-btn {
    color: grey;
}
</style>
<a type="button" class="btn btn-light p-0 mb-2 back-btn" style="font-size: 14px;" href="/welcome">Ir al inicio</a>
