<div class="app-sidebar sidebar-shadow bg-slick-carbon sidebar-text-light">
  <div class="app-header__logo">
      <div class="logo-src"></div>
      <div class="header__pane ml-auto">
          <div>
              <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                  <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                  </span>
              </button>
          </div>
      </div>
  </div>
  <div class="app-header__mobile-menu">
      <div>
          <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
              <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
              </span>
          </button>
      </div>
  </div>
  <div class="app-header__menu">
      <span>
          <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
              <span class="btn-icon-wrapper">
                  <i class="fa fa-ellipsis-v fa-w-6"></i>
              </span>
          </button>
      </span>
  </div>    
  <div class="scrollbar-sidebar">
      <div class="app-sidebar__inner">
          <ul class="vertical-nav-menu">
              <li class="app-sidebar__heading">Menus</li>
              <li>
                  <a href="/" class="mm-active">
                      <i class="metismenu-icon bi bi-house"></i>
                      Inicio
                  </a>
              </li>
              <li class="app-sidebar__heading">Listas</li>
              <li
                  
                  
                  
                  
                  
                  
                  
                  
              >
                  <a href="#">
                      <i class="metismenu-icon bi bi-truck"></i>
                      Proveedores
                      <i class="metismenu-state-icon bi bi-caret-down"></i>
                  </a>
                  <ul
                      
                      
                      
                      
                      
                      
                      
                      
                  >
                      <li>
                          <a href="/suppliers">
                              <i class="metismenu-icon"></i>
                              Ver todos
                          </a>
                      </li>
                      <li>
                        <a href="/suppliers/add">
                            <i class="metismenu-icon"></i>
                            Agregar nuevo
                        </a>
                    </li>
                  </ul>
              </li>
              <li>
                  <a href="#">
                      <i class="metismenu-icon bi bi-boxes"></i>
                      Compras
                      <i class="metismenu-state-icon bi bi-caret-down"></i>
                  </a>
                  <ul>
                      <li>
                        <a href="/purchases">
                            <i class="metismenu-icon">
                            </i>Ver todos
                        </a>
                      </li>
                      <li>
                          <a href="/purchases/add">
                              <i class="metismenu-icon">
                              </i>Agregar nueva
                          </a>
                      </li>
                      <li>
                        <a href="/purchases/accounts-to-pay">
                            <i class="metismenu-icon">
                            </i>Cuentas por pagar
                        </a>
                      </li>
                      <li>
                        <a href="/against-receipts">
                            <i class="metismenu-icon">
                            </i>Contra recibos
                        </a>
                      </li>
                      <li>
                          <a href="/purchases/today">
                              <i class="metismenu-icon">
                              </i>Las de hoy
                          </a>
                      </li>
                      <li>
                          <a href="/payments">
                              <i class="metismenu-icon">
                              </i>Pagos
                          </a>
                      </li>
                      <li>
                        <a href="/refunds">
                            <i class="metismenu-icon">
                            </i>Devoluciones
                        </a>
                    </li>
                  </ul>
              </li>
              <li>
                  <a href="#">
                      <i class="metismenu-icon bi bi-upc-scan"></i>
                      Productos
                      <i class="metismenu-state-icon bi bi-caret-down"></i>
                  </a>
                  <ul>
                    <li>
                      <a href="/products">
                          <i class="metismenu-icon">
                          </i>Ver todos
                      </a>
                    </li>
                  </ul>
              </li>
              <li class="app-sidebar__heading">Widgets</li>
              <li>
                  <a href="dashboard-boxes.html">
                      <i class="metismenu-icon pe-7s-display2"></i>
                      Dashboard Boxes
                  </a>
              </li>
              <li class="app-sidebar__heading">Forms</li>
              <li>
                  <a href="forms-controls.html">
                      <i class="metismenu-icon pe-7s-mouse">
                      </i>Forms Controls
                  </a>
              </li>
              <li>
                  <a href="forms-layouts.html">
                      <i class="metismenu-icon pe-7s-eyedropper">
                      </i>Forms Layouts
                  </a>
              </li>
              <li>
                  <a href="forms-validation.html">
                      <i class="metismenu-icon pe-7s-pendrive">
                      </i>Forms Validation
                  </a>
              </li>
              <li class="app-sidebar__heading">Charts</li>
              <li>
                  <a href="charts-chartjs.html">
                      <i class="metismenu-icon pe-7s-graph2">
                      </i>ChartJS
                  </a>
              </li>
              <li class="app-sidebar__heading">PRO Version</li>
              <li>
                  <a href="https://dashboardpack.com/theme-details/architectui-dashboard-html-pro/" target="_blank">
                      <i class="metismenu-icon pe-7s-graph2">
                      </i>
                      Upgrade to PRO
                  </a>
              </li>
          </ul>
      </div>
  </div>
</div>    
