<!-- Loading spinner - AGREGAR REGISTRO - PAGO MASIVO -->
<!-- <div id="loading-spinner" class="loading-spinner loading-remove-provider d-flex justify-content-center align-items-center text-center d-none">
  <div>
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div id="spinner-message">Eliminando proveedor...</div>
  </div>
</div> -->


<!-- Loading spinner - ELIMINAR REGISTRO PROVEEDOR -->
<div id="loading-spinner" class="loading-spinner loading-remove-provider d-flex justify-content-center align-items-center text-center d-none">
  <div>
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div id="spinner-message">Eliminando proveedor...</div>
  </div>
</div>

<!-- Loading spinner - AGREGAR REGISTRO -->
<div id="loading-spinner-add" class="loading-spinner loading-add d-flex justify-content-center align-items-center text-center d-none">
  <div>
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div id="spinner-add-message"></div>
  </div>
</div>

<!-- Loading spinner -->
<div id="loading-spinner-update" class="loading-spinner loading-update d-flex justify-content-center align-items-center text-center d-none">
  <div>
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div id="spinner-update-message"></div>
  </div>
</div>
