<div class="container" style="margin-top: -25px;">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center text-dark mt-5">✌ Bienvenido, a darle!</h2>
      <p class="text-center fs-5 mb-3 text-body-secondary">Ingresa a tu sistema</p>
      <div class="card shadow border-1 rounded-4 my-5 bg-dark text-white">
        <form class="card-body cardbody-color p-lg-5">
          <div class="mb-3">
            <input
              type="text"
              class="form-control form-control-lg"
              id="username"
              aria-describedby="emailHelp"
              placeholder="Usuario"
            />
          </div>
          <div class="mb-3">
            <input
              type="password"
              class="form-control form-control-lg"
              id="password"
              placeholder="Contraseña"
            />
          </div>
          <div class="d-grid gap-2 mb-5 mt-5">
            <!-- <button class="btn btn-primary btn-lg py-3 fw-medium fs-6" type="submit">Ingresar</button> -->
            <a class="btn btn-primary btn-lg py-3 fw-medium fs-6" role="button" href="/admin">Ingresar</a>

          </div>
          <div id="emailHelp" class="form-text text-center mb-3">
            ¿Olvidaste tu contraseña?
            <a href="#" class="card-link text-white fw-bold d-block mt-2">
              Comunicaselo a tu administrador</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
