<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/stylesheets/welcome.css" />
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
      <div class="container mt-5">
        <% if (successMessage.length > 0) { %> 
          <div class="row">
            <%- include('../partials/successMessage'); %>
          </div>
        <% } %>
          <!-- TITULO DE MENU -->
          <div class="row">
            <div class="col">
              <h1 class="title-menu">bienvenido
                <span class="text-uppercase text-primary" style="font-size: 12px;">&nbsp;(modo prueba)</span></h1>
              <p class="fs-6">Tener un buen control, registro y administración de nuestro trabajo nos permite ser más efectivos.</p>
            </div>
          </div>
          <div class="row gy-4 mt-1 align-items-start row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="col">
              <div class="card text-center border-primary h-100 card-container">
                <div class="card-body">
                  <h4 class="card-title">Checador de precios</h4>
                  <p class="card-text welcome-description">Bienvenido</p>
                  <div class="d-grid gap-2 link-card-btn">
                    <a href="/products/price" class="btn btn-primary">Buscar precio</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center border-primary h-100 card-container">
                <div class="card-body">
                  <h4 class="card-title">Listas de precios</h4>
                  <p class="card-text welcome-description">Obten precios por proveedor</p>
                  <div class="d-grid gap-2 link-card-btn">
                    <a href="/suppliers" class="btn btn-primary">Ver listas</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center border-primary h-100 card-container">
                <div class="card-body">
                  <h4 class="card-title">Proveedores</h4>
                  <p class="card-text welcome-description">Bienvenido</p>
                  <div class="d-grid gap-2 link-card-btn">
                    <a href="/suppliers/list" class="btn btn-primary">Ver proveedores</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center border-primary h-100 card-container">
                <div class="card-body">
                  <h4 class="card-title">Departamentos</h4>
                  <p class="card-text welcome-description">Bienvenido</p>
                  <div class="d-grid gap-2 link-card-btn">
                    <a href="/products/types" class="btn btn-primary">Ver departamentos</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center border-secondary h-100 card-container">
                <div class="card-body">
                  <h4 class="card-title">Ofertas</h4>
                  <p class="card-text welcome-description">No disponible</p>
                  <div class="d-grid gap-2 link-card-btn">
                    <a href="/offers" class="btn btn-primary pe-none bg-secondary border-0" tabindex="-1" aria-disabled="true">Ver ofertas activas</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col">
              <div class="card text-center border-primary h-100 card-container">
                <div class="card-body">
                  <h4 class="card-title">Las ventas</h4>
                  <p class="card-text welcome-description">Bienvenido</p>
                  <div class="d-grid gap-2 link-card-btn">
                    <a href="/sales" class="btn btn-primary">Ver ventas</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center border-primary h-100 card-container">
                <div class="card-body">
                  <h4 class="card-title">Productos en remate</h4>
                  <p class="card-text welcome-description">Bienvenido</p>
                  <div class="d-grid gap-2 link-card-btn">
                    <a href="/products/reduction" class="btn btn-primary">Ver productos</a>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
      </div>
      <footer><%- include('../partials/footer'); %></footer>

  </body>
</html>
