<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/stylesheets/welcome.css" />
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
      <div class="container mt-5">
        <% if (message != undefined) { %>
          <div class="row">
            <%- include('../partials/successMessage'); %>
          </div>
          <% } %>
          <div class="row gy-5 mt-5 align-items-start row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="col">
              <div class="card text-center border-primary h-100 card-container">
                <div class="card-body">
                  <h4 class="card-title">Checador de precios</h4>
                  <p class="card-text welcome-description">Bienvenido</p>
                  <div class="d-grid gap-2 link-card-btn">
                    <a href="/products/price" class="btn btn-primary">Buscar precio</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center border-primary h-100 card-container">
                <div class="card-body">
                  <h4 class="card-title">Departamentos</h4>
                  <p class="card-text welcome-description">Bienvenido</p>
                  <div class="d-grid gap-2 link-card-btn">
                    <a href="/products/types" class="btn btn-primary">Ver departamentos</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center border-primary h-100 card-container">
                <div class="card-body">
                  <h4 class="card-title">Productos antiguos</h4>
                  <p class="card-text welcome-description">Bienvenido</p>
                  <div class="d-grid gap-2 link-card-btn">
                    <a href="/products" class="btn btn-primary">Ver productos</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center border-primary h-100 card-container">
                <div class="card-body">
                  <h4 class="card-title">Ofertas</h4>
                  <p class="card-text welcome-description">Bienvenido</p>
                  <div class="d-grid gap-2 link-card-btn">
                    <a href="/offers" class="btn btn-primary">Ver ofertas activas</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center border-primary h-100 card-container">
                <div class="card-body">
                  <h4 class="card-title">Las ventas</h4>
                  <p class="card-text welcome-description">Bienvenido</p>
                  <div class="d-grid gap-2 link-card-btn">
                    <a href="/sales" class="btn btn-primary">Ver ventas</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center border-primary h-100 card-container">
                <div class="card-body">
                  <h4 class="card-title">Productos en remate</h4>
                  <p class="card-text welcome-description">Bienvenido</p>
                  <div class="d-grid gap-2 link-card-btn">
                    <a href="/products/reduction" class="btn btn-primary">Ver productos</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

  </body>
</html>
